/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./styles/globals.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
.badge {
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 24px;
  background-color: #7b5aff;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
}

